{% extends 'base.html' %}

{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<style>

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

  div.row {
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

input:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


</style>
  <p> {{card.img.url}} </p>
  <img class="resize" src="{{ card.image.url }}" />

<head></head>


<div style="font-style:bold" id="quiz-time-left"></div>
<script type="text/javascript">
  var total_seconds=3;
  var c_minutes = parseInt(total_seconds/60);
  var c_seconds = parseInt(total_seconds%60);
  function CheckTime(){
    document.getElementById("quiz-time-left").innerHTML
    = 'Time Left: ' + c_seconds + 'seconds';
    if (total_seconds <=0){
      setTimeout('document.quiz.submit()', 1);
    } else {
      total_seconds = total_seconds - 1;
      c_minutes = parseInt(total_seconds/60);
      c_seconds = parseInt(total_seconds%60);
      setTimeout("CheckTime()", 1000);
    }
  }
  setTimeout("CheckTime()",1000);
  </script>

  <form method="POST" name="quiz" action ="{% url 'answered' card.id %}" >
    {% csrf_token %}
    <input type="hidden" name="0">
  </form>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action ="{% url 'answered' card.id %}" >
        {% csrf_token %}
        <input type="image" alt="Full" src="{{ answercard1.image.url }}" >
        <input type="hidden" name="1">
      </form>
    </div>
    <div class="col-md-6">
      <form method="POST" action ="{% url 'answered' card.id  %}">
        {% csrf_token %}
        <input type="image" alt="Truncated" src="{{ answercard2.image.url }}" >
        <input type="hidden" name="2">
      </form>
    </div>
  </div>
</div>

{% endblock %}
