{% extends 'base.html' %}

{% block content %}

<h1> {{card.title}} </h1>
<p> {{card.answer}}</p>


<style>
input[type=submit] {
    background: {{card.image.url}};
    border: 0;
    display: block;
    height: 42px;
    width: 42px;
}
</style>
<img class="card-ing-top" src="{{ card.image.url }}"  />
<head></head>
<body>
    <a href="../{{ card.id |add:"1" }}" > next pic </a>
    <a href="../{{ card.id |add:"1" }}">
  <img src="{{ card.image.url }}" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
</a>
<a type="submit" href="../{{ card.id |add:"1" }}">
<img src="{{ card.image.url }}" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
</a>


<form method="POST" action ="{% url 'answered' card.id %}" >
  {% csrf_token %}
  <input type="image" alt="Full" src="{{ card.image.url }}" style="width:42px;height:42px;border:0;">
  <input type="hidden" name="1">
</form>
<form method="POST" action ="{% url 'answered' card.id  %}">
  {% csrf_token %}
  <input type="image" alt="Truncated" src="{{ card.image.url }}" style="width:42px;height:42px;border:0;">
  <input type="hidden" name="2">
</form>
</body>

{% endblock %}
