{% extends 'base.html' %}

{% block content %}

<h1> Instructions </h1>
<p> You are now about to participate in the actual experiment! </p>
<p> Please read the following instructions carefully: </p>
<p1> This study has a total of 8 short rounds, each rounds will have a setup of two cards. </p1>
<p1> Each of the cards you memorized will be covered at the lower left corner with a card like so: <img class="resize" src="{{example.image.url}}""></p1>
<p1> Your job is to select the correct shape of the numbered card, which is behind the first card. </p1>
<p1> You will have a total of 3 seconds to make your decision. </p1>
    <p2> If you do not make a decision in 3 seconds, the next round will automatically load (There will be a timer to show you how long you have spent). Do not be discouraged
      if this happens, try and remain focused to provided answers to the other rounds. </p2>
 <br></br>

<a href="../1"> Start the Experiment! </a>

{% endblock %}
